.col-1, .col-2, .col-3 {
  float: left; }

.welcome_note {
  width: 98%;
  background: transparentize(#51545D, 0.1);
  margin: 1%;
  padding: 3em;
}
  .welcome_note h2 {
    color: white;
    font-size: 3em;
  }
  .welcome_note p {
    color: white;
    font-size: 1.5em;
  }

.col-2 {
  width: 60%;
  background-color: transparentize(black, .2);
  padding: 1em;
  opacity: 1;
  transition: opacity 0.8s ease-in-out;
  word-wrap: break-word;
  margin: 1%;
 }
  .col-2:hover {
    opacity: .9;
  }

.col-3 {
  width: 100%;
}

.article_info {
  width: 100%;
  padding: 1em;
  margin-top: 1em;
  opacity: 1;
  border-bottom: 5px solid $border;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

  .blurb-data {
  }

  .blurb-stats {
  }

.homepage_content h2 {
  font-size: 1.1rem;
  text-transform: uppercase;
 }

.homepage_content h3 {
  font-size: 1.35em;
  font-weight: 700;
  margin-bottom: .5em;
}
  .homepage_content h3 a {
    text-decoration: none;
    color: white;
    font-size: 40px;
    margin: 0;
   }
    .homepage_content h3 a:hover {
      color: transparentize(yellow, 0.1);
    }

.homepage_content p {
  margin-bottom: 2em;
  color: white;
  font-size: 22px;
  line-height: 30px;
 }

 .homepage_content img {
   border-radius: 50%;
   margin: 1em auto;
   display: block;
   text-align: center;
 }

 .football {
   background-color: rgba(124, 214, 240, 1);
   width: 100%;
 }

 .football i {
   color: white;
   width: 100%;
   text-align: center;
 }

 .homepage_content h4 {
   color: white;
 }



@media (max-width: 1200px) {

  .col-2,
  .welcome_note,
  .col-2:first-child,
  .col-2:nth-child(4n-5),
  .col-2:nth-child(2n),
  .col-2:nth-child(3n),
  .col-2:nth-child(5n) {
    width: 100%;
  }
}
