.col-1, .col-2, .col-3 {
  float: left; }

.welcome_note {
  width: 98%;
  background: transparentize(#51545D, 0.1);
  padding: 3em;
}
  .welcome_note h2 {
    color: white;
    font-size: 3em;
  }
  .welcome_note p {
    color: white;
    font-size: 1.5em;
  }

.col-2 {
  width: 492.7px;
  height: 300px;
  background-color: #424652;
 }
  .col-2:hover {
    opacity: .9;
  }


.col-3 {
  width: 100%;
}

.article_info {
  width: 100%;
  height: 300px;
  border-bottom: 5px solid $border;
}

.article_info img {
  border-radius: 100%;
  float: left;
  display: block;
}
.date {
  font-size: 12px;
  color: white;
  line-height: 12px;
  margin: 0;
  padding: 0;
}


.blurb-data h4, h3, a {
  font-size: 12px;
  line-height: 12px;
  color: white;
  text-align: left;
  margin: 0;
  padding: 0;
}

  .blurb-stats {
    width: 492.7px;
    position: relative;
    background-color: yellow;
    position: absolute;
    opacity: 1;
    margin: 50px 0;
    display: block;
  }
  .blurb-article {
    height: 300px;
    float: right;
    background-color: red;
    position: relative;
    display: none;
  }

  table, th, td {
    border: 3px solid $border;
    font-size: .5rem;
  }

  table {
    width: 100%;
  }
    th {
      height: 50px;
    }
    td{
      height: 50px;
    }
  th, td {
    padding: 5px;
    text-align: left;
  }

@media (max-width: 1200px) {

  .col-2,
  .welcome_note,
  .col-2:first-child,
  .col-2:nth-child(4n-5),
  .col-2:nth-child(2n),
  .col-2:nth-child(3n),
  .col-2:nth-child(5n) {
    width: 100%;
  }
}
